.txtbox {
    width: 75%;
    padding: 6px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    position: relative;
    float: right;
}

#buttons {
    font-size: 1.4em;
    text-align: center;
    margin-top: 10px;
    overflow: hidden;
    display: block;
}

.greenbtn {
    font-size: 0.7em;
    background-color: #4CAF50;
    font-weight: 400;
    text-transform: uppercase;
    padding: 7px;
    color: #fff;
    width: 25%;
    float: center;
    border-radius: 0px;
    border: 2px solid #4CAF50;
}

.orangebtn {
    font-size: 0.7em;
    background-color: #EF6C00;
    font-weight: 400;
    text-transform: uppercase;
    padding: 7px;
    color: #fff;
    border-radius: 0px;
    width: 25%;
    float: center;
    border: 2px solid #EF6C00;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 12px 0 #666;
    -moz-box-shadow: 0 0 12px 0 #666;
    box-shadow: 0 0 12px 0 #666;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}